@{
    ViewBag.Title = "Series";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home", new { Area = "" })">Inicio</a>
            </li>
            <li>
                <a>Inventario</a>
            </li>
            <li class="active">
                <strong>Series</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Catálogo de números de serie <small></small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                <button class="btn btn-white" type="button"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                                <button class="btn btn-primary" type="button"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar cambios</button>
                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Número de parte</label>
                                <input type="text" placeholder="" class="ctrlInput bloquear" id="txtNroParte" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Nomenclatura</label>
                                <input type="text" placeholder="" class="ctrlInput bloquear" id="txtNomenclatura" />
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                            <div class="form-group">
                                <label>Número de serie</label>
                                <input type="text" placeholder="" class="ctrlInput" id="txtSerie" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>¿Activado?</label>
                                <div id="chkEstado" class="ctrlCheckbox">&nbsp;[Si / No]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".bloquear").jqxInput({ disabled: true });
        });
    </script>
}