@{
    ViewBag.Title = "Clientes";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home", new { Area = "" })">Inicio</a>
            </li>
            <li>
                <a>Administración</a>
            </li>
            <li class="active">
                <strong>Clientes</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Catálogo de clientes <small></small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                <button class="btn btn-white" type="button"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                                <button class="btn btn-primary" type="button"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar cambios</button>
                            </p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                            <div class="form-group">
                                <label>Número Legal o RUC</label>
                                <input type="text" placeholder="" class="ctrlInput" id="txtNroLegal" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>¿Activado?</label>
                                <div id="chkEstado" class="ctrlCheckbox">&nbsp;[Si / No]</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Nombre Legal o Razón Social</label>
                                <input type="text" placeholder="" class="ctrlInput" id="txtNombreLegal" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Descripción de la empresa</label>
                                <input type="text" placeholder="" class="ctrlInput" id="txtDescripcion" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>