.fc-license-message {
    display: none;
}

.green {
    /*color: #2b2b2b;*/
    background: #e3f5ab;
}

.red {
    /*color: #2b2b2b;*/
    background: #f18e99;
}

.lightblue {
    /*color: #2b2b2b;*/
    background: #7db9e8;
}

.yellow {
    /*color: #2b2b2b;*/
    background: #f8ac59;
}

.gray {
    /*color: #2b2b2b;*/
    background: #dbdce2;
}

.modal-backdrop {
    z-index: 1400 !important;
}
.modal {
    z-index: 1500 !important;
}

.nav.navbar-top-links a {
    font-size: 13px !important;
}